/*set up the background video*/
#bgVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

/*middle align the start button*/
.startBtnContainer {
    display: flex;
    justify-content: center;
}

.startBtn {
    text-decoration: none;
    position: absolute;
    color: rgba(255, 255, 255, 0.8);
    top: 87%;
    border: 1px transparent solid;
    border-radius: 5px;
    background-color: #d57a16;
    font-family: sans-serif;
    font-size: 25px;
    margin: 0 auto;
    padding: 12px 27px;
}

/*glowing effect on button when hover*/
.startBtn:hover {
    background-color: #d57400;
    box-shadow: 0 0px 35px orange;
    color: white;
}
