body {
    color: white;
    background-color: black;
    font-family: sans-serif;
}

.intro_container {
    text-align: center;
    height: 100%;
}

.planet_pic img {
    width: 70%;
}

.saturn img {
    width: 95% !important;
}

.planet_name {
    line-height: 2;
    font-weight: bold;
}

.planet_description {
    font-style: italic;
    font-weight: lighter;
}

.info_table {
    width: 100%;
    line-height: 1.5;
    font-size: 10px;
}

.info_table .info_name {
    font-weight: bold;
    color: orange;
    line-height: 2;
}

* {
    /*border: 1px palevioletred solid !important;*/
}