body {
    font-family: sans-serif;
    font-size: 18px;
    color: white;
    background-color: black;
}

.planet_pic {
    float: left;
}

.Container {
    position: absolute;
    top: 48px;
}

.Earth {
    color: cornflowerblue;
}

.Venus {
    color: Khaki;
}

.Mercury {
    color: aquamarine;
}

table {
    border-collapse: collapse;
    width: 70%;
}

td, th {
    border: 1px solid #ccff99;
    text-align: left;
    padding: 8px;
}
