body {
    font-family: sans-serif;
    font-size: 18px;
    color: white;
    background-color: white;
    background-image: url("../assets/picture/galaxy_bg01.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 150%;
}

.planet_pic img {
    height: 500px
}

.container {
    position: absolute;
}

.planets .planet_pic {
    background-image: url(../assets/picture/earth_banner.jpg);
}

.planet_pic {
    background-size: cover;
    position: relative;
    z-index: 3;
    background-position: center;
    height: 350px;
}

.overviewContent {
    margin: 10px 90px;
}

.planets {
    position: relative;
}

.cutinColor1 {
    padding: 10px;
    background: rgba(0, 0, 0, 0.3);
}

.overviewContent {
    line-height: 26px;
}

.didYouKnow:hover {
    box-shadow: 0px 0px 10px 3px orange;
    height: 230px;
    width: 97%;
}

.didYouKnow {
    width: 170px;
    height: 15px;
    overflow: hidden;
    border-radius: 25px;
    border: 2px dashed;
    padding: 20px 10px;
    transition: height 2s 1s, width 1s;
}

.didYouKnowContainer {
    padding: 10px;
    margin: 0px 90px;
}

h3 {
    padding: 20px 0px;
    margin: 10px 85px;
    font-weight: bold;
    font-size: 21px;
}

.radius {
    display: inline-block;
    border-radius: 999px;
    border: 2px coral solid;
    padding: 15px;
    margin: 20px;
    width: 140px;
    height: 140px;
    font-size: 15px;
    text-align: center;
    background-color: #949ba8;
}

.dataOfContainer {
    letter-spacing: 1px;
    line-height: 26px;
    padding: 10px;
    margin: 0px 90px;
    display: flex;
    justify-content: center;
}

.dataOfContent {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    max-width: 1200px;
    width: 100%
}

.galleryContainer {
    padding: 10px;
    margin: 10px 90px;
    border: 2px #ff9933 solid;
    border-radius: 99px;
    display: block;
    justify-content: center;
    background-color: rgb(52, 53, 53);
}

.galleryContainer .galleryHeading {
    text-align: center;
    font-size: 42px;
}

.gallery {
    padding: 10px 30px;
    max-width: 1280px;
    position: relative;
}

.photo {
    display: none;
}

.photo img {
    width: 100%
}

.prev,
.next {
    position: absolute;
    top: 45%;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 35px;
    user-select: none;
}

.next {
    right: 30px;
}

@media only screen and (max-width: 750px) {
    body {
        background-size: 100%;
        background-image: url(../assets/picture/galaxy_bg03.jpg);
    }

    .overviewContent {
        font-size: 15px;
    }

    .didYouKnowContent {
        font-size: 15px;
    }

    .galleryContainer {
        border: none;
        padding: 0px;
        background-color: rgba(52, 53, 53, 0);;
    }

    .galleryContainer .galleryHeading {
        font-size: 20px;
    }

    .prev,
    .next {
        font-size: 20px;
    }
}