/*general setting*/
body {
    font-family: sans-serif;
    font-size: 18px;
    color: white;
    background-color: white;
    background-image: url("../assets/picture/planets/galaxy_bg01.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 150%;
}

.planet_pic img {
    height: 500px
}

.container {
    position: absolute;
}

/*set up the header image*/
.earth .planet_pic {
    background-image: url(../assets/picture/planets/earth/earth_banner.jpg);
}

.mercury .planet_pic {
    background-image: url(../assets/picture/planets/mercury/mercury_banner.jpg);
}

.sun .planet_pic {
    background-image: url(../assets/picture/planets/sun/sun_banner.jpg);
}

.venus .planet_pic {
    background-image: url(../assets/picture/planets/venus/venus_banner.jpg);
}

.mars .planet_pic {
    background-image: url(../assets/picture/planets/mars/mars_banner.jpg);
}

.jupiter .planet_pic {
    background-image: url(../assets/picture/planets/jupiter/jupiter_banner.jpg);
}

.neptune .planet_pic {
    background-image: url(../assets/picture/planets/neptune/neptune_banner.jpg);
}

.saturn .planet_pic {
    background-image: url(../assets/picture/planets/saturn/saturn_banner.jpg);
}

.uranus .planet_pic {
    background-image: url(../assets/picture/planets/uranus/uranus_banner.jpg);
}


.planet_pic {
    background-size: cover;
    position: relative;
    z-index: 3;
    background-position: center;
    height: 350px;
}

.planets {
    position: relative;
}

.cutinColor1 {
    padding: 10px;
    background: rgba(0, 0, 0, 0.3);
}

.overviewContent {
    margin: 20px 105px 50px 105px;
    line-height: 26px;
}

.didYouKnowContainer {
    padding: 10px;
    margin: 20px 80px;
}

/*display the didyouknow content when hover*/
.didYouKnow {
    line-height: 26px;
    width: 170px;
    height: 15px;
    overflow: hidden;
    border-radius: 25px;
    border: 2px dashed;
    padding: 20px 10px;
    transition: height 2s 1s, width 1s;
}

.didYouKnow:hover {
    box-shadow: 0px 0px 10px 3px orange;
    height: 230px;
    width: 97%;
}

h1 {
    color: orange;
    font-family: sans-serif;
    font-weight: bold;
}

h3 {
    color: orange;
    padding: 20px 0px;
    margin: 10px 85px;
    font-weight: bold;
    font-size: 21px;
    font-family: sans-serif;
}

/*middle align the dataof container*/
.dataOfContainer {
    letter-spacing: 1px;
    line-height: 26px;
    padding: 10px;
    margin: 0px 90px;
    display: flex;
    justify-content: center;
}

/*set up the dataof circle*/
.dateOfCircle {
    box-shadow: 0px 0px 10px 3px orange;
    display: inline-block;
    border-radius: 999px;
    border: 2px coral solid;
    padding: 15px;
    margin: 20px;
    width: 140px;
    height: 140px;
    font-size: 15px;
    text-align: center;
    background-color: rgba(105, 105, 105, 0.3);;
}

/*position the dataof circle*/
.dataOfContent {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    max-width: 1200px;
    width: 100%
}

.dataOfContent .dateOfCircle div {
    color: orange;
}

/*set up the gallery*/
.galleryContainer {
    padding: 10px;
    margin: 10px 90px;
    display: block;
    justify-content: center;
}

.galleryContainer .galleryHeading {
    padding: 20px 0px;
    text-align: center;
    font-size: 21px;
    color: orange;
    font-family: sans-serif;
    font-weight: bold;
}

.gallery {
    padding: 10px 10px;
    max-width: 1280px;
    position: relative;
    border: 2px #ff9933 solid;
    background-color: rgba(52, 53, 53, 0.7);
    border-radius: 9px;
}

.photo {
    display: none;
}

.photo img {
    width: 100%
}

/*set up the gallery navigate button*/
.prev,
.next {
    color: rgba(255, 165, 0, 0.6);
    position: absolute;
    top: 45%;
    padding: 10px;
    font-weight: bold;
    font-size: 35px;
    user-select: none;
}

.next {
    margin: 0px 10px;
    right: 0px;
}

.prev:hover,
.next:hover {
    color: rgba(255, 165, 0, 1);
    text-shadow: 0px 0px 20px orange;
}

sup {
    vertical-align: super;
    font-size: smaller;
}

/*responsive setting*/
@media only screen and (max-width: 750px) {

    /*change the background to a vertical image*/
    body {
        background-size: 100%;
        background-image: url(../assets/picture/planets/galaxy_bg02.jpg);
    }

    .overviewContent {
        font-size: 15px;
    }

    .didYouKnowContent {
        font-size: 15px;
    }

    /*enlarge the gallery*/
    .gallery {
        border: none;
        padding: 0px;
        background-color: rgba(52, 53, 53, 0);;
    }

    .galleryContainer {
        padding: 10px;
        margin: 10px 10px;
        display: block;
        justify-content: center;
    }

    .prev,
    .next {
        margin: 0px;
        font-size: 20px;
    }
}

