body {
    background-color: black;
    background-image: url(../assets/picture/universe-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
}

.quiz_intro {
    color: rgb(255, 169, 21);
    text-align: center;
    text-shadow: 3px 3px 10px #ffac21;
    font-size: 25px;
    padding: 100px 0px 25px;
}

.quiz {
    color: white;
    line-height: 1.2;
    text-align: left;
    width: 75%;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.8);
}

fieldset {
    border: 3px rgba(255, 255, 255, 0.32) solid;
    border-radius: 10px;
    padding: 20px;
}

legend {

}

.question {
    padding: 15px 0px;
}

.question p {
    margin: 15px 0px;
}

.question label {
    display: inline-block;
    margin: 0px 15px;
}

input:checked + label {
    color: orange;
}