body {
    background-color: black;
    background-image: url(../assets/picture/solar_system.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.btn {
    position: absolute;
    outline: 0;
    background-color: transparent;
    border: 3px red solid;
}

.btn_Mercury {
    top: 53%;
    left: 21%;
    height: 35px;
    width: 35px;
}

.btn_Venus {
    top: 52%;
    left: 24.5%;
    height: 45px;
    width: 45px;
}

.btn_Earth {
    top: 53%;
    left: 28.5%;
    height: 30px;
    width: 30px;
}

.btn:hover ~ #iframe_planet {
    visibility: visible;
    opacity: 1;
    transition: opacity 0s;
}

#iframe_planet {
    visibility: hidden;
    width: 30%;
    height: 60%;
    position: absolute;
    top: 25%;
    left: 50%;
    opacity: 0;
    transition: opacity 0s;
}
