/*general setting*/
.topbar {
    background-color: #333;
    filter: opacity(85%);
    font-family: sans-serif;
    font-size: 16px;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.topbar a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 23px;
    text-decoration: none;
}

/*highlight current page*/
.topbar .active {
    background-color: #ff9933;
    color: white;
}

.dropdown_container {
    float: left;
    overflow: hidden;
}

/*hide the toggle menu button on large screen by default*/
.toggle_button {
    display: none;
}

/*set up the dropdown menu*/
.dropdown_container .drop_button {
    border: none;
    outline: none;
    padding: 14px 23px;
}

/*highlight the current item on hover*/
.topbar a:hover, .dropdown_container:hover .drop_button {
    background-color: #ddd;
    color: black;
}

/*set up and hide the dropdown menu by default*/
.dropdown_content {
    display: none;
    position: absolute;
    top: 44px;
    background-color: rgba(47, 47, 47, 0.97);
    min-width: 160px;
    z-index: 999;
}

.dropdown_content a {
    color: white;
    float: none;
    padding: 12px 13px;
    display: block;
    text-align: left;
}

.dropdown_content a:hover {
    background-color: #ddd;
}

/*display the dropdown menu on hover*/
.dropdown_container:hover .dropdown_content {
    display: block;
}

/*responsive setting*/
@media screen and (max-width: 600px) {

    /*hide everything except the home button*/
    .topbar a:not(:first-child), .dropdown_container .drop_button {
        display: none;
    }

    /*display the toggle submenu button*/
    .topbar a.toggle_button {
        float: right;
        display: block;
    }

    .dropdown_content a {
        padding: 12px 40px;
    }

    /*set up the top bar on small screen*/
    .topbar.responsive {
        position: relative;
    }

    .topbar.responsive a.toggle_button {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .topbar.responsive .dropdown_container {
        float: none;
    }

    .topbar.responsive .dropdown_content {
        position: relative;
        top: 0;
    }

    .topbar.responsive .dropdown_container .drop_button {
        display: block;
        width: 100%;
        text-align: left;
    }
}