.topbar {
    filter: opacity(80%);
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #333;
}

.topbar a {
    font-family: sans-serif;
    text-decoration: none;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 28px;
    font-size: 20px;
}

.topbar a:hover:not(.active), .topbar li:hover:not(.active) {
    background-color: #ddd;
    color: black;
}

.topbar a.active, .topbar .sub .active {
    background-color: #ff9933;
    color: white;
}


.topbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.topbar a {
    text-decoration: none;
    display: block;
}


.topbar .sub {
    position: absolute;
    top: 55px;
    left: 424px;
}

.topbar .sub li {
    overflow: hidden;
    height: 0;
    width: 122px;
    background-color: #333;
    transition: height 500ms;
}

.topbar ul li:hover .sub li {
    height: 55px;
}